toolbarbutton.button-pmplayer-play,window:not([active="true"]) toolbarbutton.button-pmplayer-play{
	list-style-image:url('chrome://pmplayer/skin/pmplayer-small.png');
}
#menu-pmplayer-play{
	list-style-image:url('chrome://pmplayer/skin/pmplayer-small.png');
}
#menu-pmplayer-play[disabled="true"]{
	list-style-image:url('chrome://pmplayer/skin/pmplayer-disabled.png');
}
#pmplayer-context{
	list-style-image:url('chrome://pmplayer/skin/pmplayer-small.png');
}
#pmplayer-context[disabled="true"]{
	list-style-image:url('chrome://pmplayer/skin/pmplayer-disabled.png');
}
#button-pmplayer-play {
	list-style-image:url('chrome://pmplayer/skin/pmplayer-small.png');
	 background-color: #cccccc;
}
#button-pmplayer-play[disabled="true"] {
	list-style-image:url('chrome://pmplayer/skin/pmplayer-disabled.png');
	 background-color: #cccccc;
}
toolbar[iconsize="small"] #button-pmplayer-play {
	list-style-image:url('chrome://pmplayer/skin/pmplayer-small-enabled.png');
	 background-color: #cccccc;
}
toolbar[iconsize="small"] #button-pmplayer-play[disabled="true"] {
	list-style-image:url('chrome://pmplayer/skin/pmplayer-small-disabled.png');
	 background-color: #cccccc;
}
